<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Tiendas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"></script>
  <link rel="stylesheet" href="../../assets/css/signup.css">
</head>
<body>
  <div class="container">
    <h2 class="text-center">Registro de Tiendas</h2>
    <div class="row">
      <!-- Primera Columna - Formulario -->
      <div class="col-md-6">
        <form id="registroForm">
          <div class="form-group">
            <label for="nombre">Nombre de la Tienda:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="telefono">Número de Contacto (WhatsApp):</label>
            <input type="text" class="form-control" id="telefono" name="telefono" required>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" class="form-control" id="ubicacion" name="ubicacion" required>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Registrar</button>
        </form>
      </div>
      
      <!-- Segunda Columna - Imagen -->
      <div class="col-md-6">
        <div class="image-preview" id="imagePreview">
          <span>Previsualización de imagen</span>
        </div>
        <br>
        <input type="file" class="form-control" id="imageInput" accept="image/*">
      </div>
    </div>
  </div>

  <script src="../../Api/vendedores.js"></script>
</body>
</html>
